@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow {
        text-shadow: 4px 4px 1px theme('colors.violet');
    }

    .bg-overlay {
        background: rgba(0, 0, 0, 0.95);
        background: linear-gradient(90deg, theme('colors.black') 50%, theme('colors["black-rgba-75"]') 100%);
    }
}



body{
    @apply font-light;
    @apply font-exo2;
    @apply text-lg;
}

p{
    @apply mb-6;
}

a{
    @apply transition-all duration-200 ease-linear;
}

b,
strong {
    font-weight: 700;
}

.nuxt-content ul,
.nuxt-content ol {
    @apply pl-4;
    @apply mb-6;
}

.nuxt-content ul {
    list-style-type: disclosure-closed;
}

.nuxt-content ol {
    list-style-type: decimal;
}

.nuxt-content ul li,
.nuxt-content ol li {
    @apply pl-2;
    @apply mb-2;
}


::selection {
  background: theme('colors.purple');
  color: theme('colors.lime');
}

:focus {
    outline: none !important;
}

.nuxt-content a,
.link--styled{
    color: theme('colors.lime');
    @apply transition-all duration-200 ease-linear;
    @apply py-2;
    position: relative;

    &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        left: 0px;
        width: 100%;
        height: 3px;
        background-color: theme('colors.lime');
        transition: all 250ms theme('transitionTimingFunction.def');
    }

    &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        left: 0px;
        width: 0%;
        height: 3px;
        background-color: theme('colors.violet');
        transition: all 250ms theme('transitionTimingFunction.def');
    }
}

.nuxt-content a:hover,
.link--styled:hover {
    @apply border-lime;

    &:after{
        width: 100%;
    }
}


svg{
    max-width: 100%;
    height: auto;
}



/*
    Titles / Typography
*/
.hero--berry{
    @apply font-exo2;
    @apply font-semibold;
    @apply leading-berry;
    @apply text-lime;
}


.title--berry{
    @apply font-exo2;
    @apply font-semibold;
    @apply leading-berry;
    @apply text-white;
    @apply border-l-8;
    @apply border-violet;
    @apply pl-4;
}


/* Default page title */
/*
.page-title{
    @apply berry-hero text-6xl;
}

@screen lg{
    .page-title{
        @apply text-hero2;
    }
}
*/


.nuxt-content h2,
.nuxt-content h3{
    @apply title--berry;
}



/*
    Menu
*/
#main-menu a:hover{
    @apply text-lime;
    @apply transition-all duration-200 ease-linear;
}



/*
	Page transitions: fade-in-up
*/
.fade-in-up-leave-active{
    transition: transform 450ms cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms, opacity 200ms linear 0ms;
}

.fade-in-up-enter-active{
    transition: transform 1200ms cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms, opacity 600ms linear 0ms;
}

.fade-in-up-leave{
    opacity: 1;
    transform: translateY(0px);

}
.fade-in-up-leave-to{
    opacity: 0;
    transform: translateY(-60px);

}

.fade-in-up-enter{
    opacity: 0;
    transform: translateX(60px);
}
.fade-in-up-enter-to{
    opacity: 1;
    transform: translateX(0px);
}


/*
	Page transitions: fade-in-up layout
*/

.fade-leave-active{
    transition: opacity 250ms linear;
}

.fade-enter-active{
    transition: opacity 250ms linear;
}

.fade-leave{
    opacity: 1;
}

.fade-leave-to{
    opacity: 0.75;
}

.fade-enter{
    opacity: 0;
}
.fade-enter-to{
    opacity: 1;
}



.hljs{
    @apply pt-2 !important;
    @apply pb-8 !important;
    @apply px-8 !important;
    @apply mt-2 mb-8;
    @apply text-sm;
    @apply font-fontmono;
}


/*
    Skills
*/
.skill{
    @apply rounded-sm text-white inline-flex items-center justify-center py-1 text-xs leading-tight text-center;
}

.skill__1{
    @apply bg-violet;
}

.skill__2{
    @apply bg-lime text-black;
}

.skills-block{
    @apply px-4 mb-8;
}

.skills-block .block__inner{
    @apply py-4 pb-4 pt-1 h-full;
}

.skills-block .block__title{
    @apply text-2xl font-bold mb-3 leading-none border-l-4 border-lime pl-6;
}

.skills-block ul{
    @apply pl-6 border-l-4 border-transparent text-base;

}

.skills-block li{
    @apply pt-1 pb-1 leading-tight;
}
