@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow {
        text-shadow: 4px 4px 1px theme('colors.violet');
    }

    .bg-overlay {
        background: rgba(0, 0, 0, 0.95);
        background: linear-gradient(90deg, theme('colors.black') 50%, theme('colors["black-rgba-75"]') 100%);
    }
}



body{
    @apply font-light;
    @apply font-exo2;
    /* @apply text-lg; */

    /* @apply font-font10; */
}

p{
    @apply mb-3;
}

article a{
    color: theme('colors.lime');
    @apply transition-all duration-200 ease-linear;
    @apply pb-1;
    @apply border-b-4;
    @apply border-lime;
    position: relative;

    &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: -4px;
        left: 0px;
        width: 0%;
        height: 4px;
        background-color: theme('colors.violet');
        transition: all 250ms theme('transitionTimingFunction.def');
        /* transition: all 250ms cubic-bezier(0.390, 0.575, 0.565, 1.000; */
    }
}

article a:hover {
    /* color: theme('colors.violet'); */
    @apply border-violet;

    &:after{
        width: 100%;
    }
}

svg{
    max-width: 100%;
    height: auto;
}

.berry-title{
    @apply font-exo2;
    @apply font-semibold;
    @apply leading-berry;
    @apply text-white;
    @apply border-l-8;
    @apply border-violet;
    @apply pl-4;

    /* @apply font-font11; */
}

.berry-hero{
    @apply font-exo2;
    @apply font-semibold;
    @apply leading-berry;
    @apply text-lime;
}

.heading--title{
    @apply mb-4;
}

#main-menu a:hover{
    @apply text-lime;
    @apply transition-all duration-200 ease-linear;
}

/*
	Page transitions: fade-in-up
*/
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 20px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
.fade-in-up-leave-active,
.fade-in-up-enter-active{
    transition: transform 450ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 0ms, opacity 450ms linear 100ms;
}

.fade-in-up-leave{
    opacity: 1;
    transform: translateY(0px);

}
.fade-in-up-leave-to{
    opacity: 0;
    transform: translateY(60px);

}

.fade-in-up-enter{
    opacity: 0;
    transform: translateY(30px);
}
.fade-in-up-enter-to{
    opacity: 1;
    transform: translateY(0px);
}
/*
.fade-in-up-leave-to {
  opacity: 0.75;
  transition: opacity .3s;
}

.fade-in-up-enter {
  opacity: 0.75;
  transform: translate3d(0, 20px, 0);
}

.fade-in-up-enter-to {
  opacity: 0.75;
  animation-duration: .75s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}
*/

.hljs{
    @apply py-8 !important;
    @apply px-8 !important;
    @apply my-8;
    @apply text-sm;
    @apply font-fontmono;
}


/*
    Skills
*/
.skill{
    @apply rounded-sm text-white inline-flex items-center justify-center py-1 text-xs leading-tight text-center;
}

.skill__1{
    @apply bg-violet;
}

.skill__2{
    @apply bg-lime text-black;
}

.skill__3{
    @apply bg-purple2;
}

.skills-block{
    @apply px-4 mb-8;
}

.skills-block .block__inner{
    @apply border-l border-lime p-4 pt-1 h-full;
}

.skills-block .block__title{
    @apply text-2xl font-bold mb-3 leading-none;
}

.skills-block ul{
    list-style-type: disc;
    @apply ml-6;
}

.skills-block li{
    @apply pt-1 pb-1 leading-tight;
}
